/* App.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
    padding-top: 50px;
    overflow: hidden;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.results-container {
    overflow-y: auto;
    width: 100%;
    max-height: 70vh;
    padding-top: 100px; /* This matches the height of the fixed header */
}

.list-group-item {
    cursor: pointer;
}

.mt-3 {
    margin-top: 1rem;
}
